<footer>
    <div>
        <ul>
            <li><a href="/shop">SHOP</a></li>
            <li><a href="/auth/register">REGISTER</a></li>
            <li><a href="/auth/login">INGRESAR</a></li>
            <li><a href="#">CONTACTO</a></li>
        </ul>
        <picture>
            <img src="/multimedia/branding/isotype.svg" />
        </picture>
    </div>
    <div>
        <span>All rights reserved 2023 - Funkoshop &copy</span>
    </div>
</footer>
