
<header>
            
    <picture class='funkologo'>
        <a href='/'>
            <img class='funkologo' src='/multimedia/branding/logo_light_horizontal.svg' />
        </a>
    </picture>

    <nav>
        <ul>
            <li>
                <a href='/shop'>VER TIENDA</a>
            </li>
            <li>
                <a href='/admin'>ADMIN</a>
            </li>
            <li>
                <a href='/auth/login'>SALIR</a>
            </li>
        </ul>
    </nav>

</header>