<header>
            
    <picture class="funkologo">
        <a href="/">
            <img class="funkologo" src="/multimedia/branding/logo_light_horizontal.svg" />
        </a>
    </picture>

    <nav>
        <ul>
            <li>
                <a href="/shop">SHOP</a>                        
            </li>
            <li>
                <a href="/contacto">CONTACTO</a>
            </li>
            <li>
                <a href="/auth/login">LOGIN</a>
            </li>
            <li>
                <a href="/shop/cart"><img class="img-cart" src="/multimedia/icons/cart-icon.svg" /></a>
            </li>
        </ul>
    </nav>

</header>
