
  header {
    background-color: rgb(40, 40, 40);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    justify-content: space-around;
    padding: 2rem; 
  }
  
  .funkologo {
    grid-column: 1;
  }
  
  nav {
    grid-column: 2;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-flex;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    color: white;
  }
  
  nav ul li a {
    padding: 1rem;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background: transparent;
  }
  
  .img-cart {
    width: 2rem;
    height: 2rem;
    margin-bottom: -.5rem;
  }
  